event_producer/cmsconnect/CMSSW*/
event_producer/cmsconnect/log/
event_producer/cmsconnect/dnn_test/
event_producer/cmsconnect/hww-tagging-dev-miniaods/
event_producer/cmsconnect/dummy.cc
event_producer/cmsconnect/*.tar.gz
event_producer/cmsconnect/*.py
event_producer/cmsconnect/testrun
*.root
*.log